In [1]:
import pandas as pd

In [2]:
url = 'https://space-facts.com/mars/'

In [14]:
tables = pd.read_html(url)
df = tables[0]

In [15]:
df = df.rename(columns={0:'description',1:'value'})
df

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
df.to_html('table.html', index=False, header=False)

In [16]:
df.to_json(orient='records')

'[{"description":"Equatorial Diameter:","value":"6,792 km"},{"description":"Polar Diameter:","value":"6,752 km"},{"description":"Mass:","value":"6.42 x 10^23 kg (10.7% Earth)"},{"description":"Moons:","value":"2 (Phobos & Deimos)"},{"description":"Orbit Distance:","value":"227,943,824 km (1.52 AU)"},{"description":"Orbit Period:","value":"687 days (1.9 years)"},{"description":"Surface Temperature:","value":"-153 to 20 \\u00b0C"},{"description":"First Record:","value":"2nd millennium BC"},{"description":"Recorded By:","value":"Egyptian astronomers"}]'